# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Node
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
pip-log.txt

# ========================
# Docker
# ========================
*.log
*.pid
*.seed
*.pid.lock

# local data
# data/
gateway/revocations.json

# ========================
# IDE
# ========================
.vscode/
.idea/